/* Ini adalah CSS reset by meyer web */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.halaman1 {
    background-image: url(../assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
	background-color:  hsla(0, 0%, 0%, 0.712);
	padding: 20px;
}
.jumbotron {
	text-align: center;
	color: white;
	font-weight: bold;
}

.jumbotron a {
    color: white;
    font-size: 14px;
}

.halaman2 {
    background-image: url(../assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	height: 100vh;
}

.halaman2 h2 {
    font-size: 36px;
    font-family: bebas neue, serif;
}


.halaman3 {
    background-image: url(../assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Bikin Stepper */
.container {
    width: 25%;
  }
  
  .step {
    
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    background-color: cream;
  }
  
  .v-stepper {
    position: relative;
  /*   visibility: visible; */
  }
  
  
  /* regular step */
  .step .circle {
    background-color: white;
    border: 3px solid gray;
    border-radius: 100%;
    width: 20px;    /* +6 for border */
    height: 20px;
    display: inline-block;
  }
  
  .step .line {
      top: 23px;
    left: 12px;
  /*   height: 120px; */
    height: 100%;
      
      position: absolute;
      border-left: 3px solid gray;
  }
  
  .step.completed .circle {
    visibility: visible;
    background-color: white;
    border-color: rgb(6,150,215);
  }
  
  .step.completed .line {
    border-left: 3px solid rgb(6,150,215);
  }
  
  .step.active .circle {
  visibility: visible;
    border-color:white;
  }
  
  .step.empty .circle {
      visibility: hidden;
  }
  
  .step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
    top: 0;
    height: 150%;
  }
  
  
  .step:last-child .line {
    border-left: 3px solid white;
    z-index: -1; /* behind the circle to completely hide */
  }
  
  .content {
    margin-left: 20px;
    display: inline-block;
  }
  

.halaman3 h2 {
    font-size: 36px;
    font-family: bebas neue, serif;
}

.halaman4 {
    background-image: url(../assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.halaman4 h3 {
    color: orange;
}


.halaman5 {
    background-image: url(../assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
